<table class="table table-responsive receiver_infomation">
  <tr>
    <th><%= t "users.index.name" %></th>
    <td><%= @accident.user.name %></td>
  </tr>
  <tr>
    <th><%= t "users.index.phone" %></th>
    <td><%= @accident.user.phone %></td>
  </tr>
  <tr>
    <th><%= t "users.index.gender" %></th>
    <td><%= @accident.user.gender %></td>
  </tr>
  <tr>
    <th><%= t "users.index.blood_group" %></th>
    <td><%= @accident.user.blood_group %></td>
  </tr>
  <tr>
    <th><%= t "users.index.phone_emergency" %></th>
    <td><%= @accident.user.phone_emergency %></td>
  </tr>
  <tr>
    <th><%= t "users.index.description" %></th>
    <td><%= @accident.user.description %></td>
  </tr>
</table>
