<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/rails_default" %>
  </head>
    <% if logged_in? %>
      <body>
        <%= render "layouts/header" %>
        <div class="container no-margin-top">
          <% flash.each do |message_type, message| %>
            <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
          <% end %>
          <%= yield %>
        </div>
      </body>
    <% else %>
      <body class="login">
        <div class="container">
          <% flash.each do |message_type, message| %>
            <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
          <% end %>
          <%= yield %>
        </div>
      </body>
    <% end %>
</html>
